<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta type="viewport" content="width=device-width, initial-scale=1.0">
        <title>document</title>
        <link rel="stylesheet" th:href="@{/css/manager-dashboard.css}">
    </head>
    <body>
        <nav class="navbar">
            <a href="/manager/dashboard">Home</a>
            <a href="/manager/projects">Projects</a>
            <a href="#">Create</a>
            <a href="#">My Profile</a>
        </nav>
        <div class="container">
            <h1>Project Summary</h1>
            <table>
                <thead>
                    <tr>
                        <th>Project ID</th>
                        <th>Project Name</th>
                        <th>Team Lead ID</th>
                        <th>Team Lead Name</th>
                        <th>Team</th>
                        <th>Progress</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="summary : ${summaries}">
                        <td th:text="${summary.id}"></td>
                        <td th:text="${summary.name}"></td>
                        <td th:text="${summary.teamLeadId}"></td>
                        <td th:text="${summary.teamLeadName}"></td>
                        <td th:text="${summary.members}"></td>
                        <td th:text="${summary.description}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
     </body>
</html>