<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta type="viewport" content="width=device-width, initial-scale=1.0">
        <title>document</title>
        <link rel="stylesheet" th:href="@{/css/manager-dashboard.css}">
    </head>
    <body>
        <nav class="navbar">
            <a href="#">Home</a>
            <a href="#">Projects</a>
            <a href="#">Create</a>
            <a href="#">My Profile</a>
        </nav>
        <div class="container">
            <h1>Project Summary</h1>
            <table>
                <thead>
                    <tr>
                        <th>Project ID</th>
                        <th>Project Name</th>
                        <th>Team Lead ID</th>
                        <th>Team Lead Name</th>
                        <th>Team</th>
                        <th>Progress</th>
                    </tr>
                </thead>
                <tbody>
                    <td>2312</td>
                    <td>Employee Dashboard</td>
                    <td>211340101012</td>
                    <td>Frank Castle</td>
                    <td>Matt, Regan, John, Robb, Eddward</td>
                    <td>59%</td>
                </tbody>
            </table>
        </div>
     </body>
</html>